main {
  transform: translateY(var(--h-header));
  transition: transform var(--transition);

  &:is(.page-enter-active, .page-leave-active) {
    transition-property: opacity;
  }

  &:is(.page-enter-from, .page-leave-to) {
    opacity: 0;
  }
}
