@mixin font(
  $size,
  $weight: null,
  $height: null,
  $spacing: null,
  $mbs: null,
  $mbe: null
) {
  font-size: $size + px;
  @if $weight {
    font-weight: $weight;
  }

  @if $height {
    line-height: $height;
  }

  @if $spacing {
    letter-spacing: $spacing + em;
  }

  @if $mbs {
    margin-block-start: $mbs + px;
  }

  @if $mbe {
    margin-block-end: $mbe + px;
  }
}

@mixin grid($number, $value, $gap: null, $align: null, $justify: null) {
  display: grid;
  grid-template-columns: repeat($number, $value);
  gap: $gap;
  align-content: $align;
  justify-content: $justify;
}

@mixin col($start: null, $end: null) {
  &--#{$start}-#{$end} {
    grid-column: #{$start} / #{$end};
  }
}
