@mixin font(
  $size,
  $weight: null,
  $height: calc(($size + 4) / $size),
  $spacing: null,
  $margin: null
) {
  font-size: #{$size + 'px'};
  line-height: $height;

  @if $weight {
    font-weight: $weight;
  }

  @if $spacing {
    letter-spacing: $spacing;
  }

  @if $margin {
    margin-block: $margin;
  }
}

@mixin grid($number, $value, $gap: null, $align: null, $justify: null) {
  display: grid;
  grid-template-columns: repeat($number, $value);
  gap: $gap;
  align-content: $align;
  justify-content: $justify;
}

@mixin col($start: null, $end: null, $order: null) {
  &--#{$start}-#{$end} {
    grid-column: #{$start} / #{$end};
    order: $order;
  }
}

@mixin media($breakpoint, $y: null, $x: null, $gap: null, $col: null) {
  @media (min-width: $breakpoint) {
    padding: $y $x;

    @if $gap {
      gap: $gap;
    }

    @if $col {
      grid-template-columns: $col;
    }
  }
}
