@mixin font(
  $size,
  $weight: null,
  $height: 1.1,
  $height-rtl: 1.4,
  $spacing: null,
  $margin: null
) {
  font-size: #{$size + 'px'};

  @if $weight {
    font-weight: $weight;
  }

  @if ($height or $height-rtl) {
    line-height: $height;

    [dir='rtl'] & {
      line-height: $height-rtl;
    }
  }

  @if $spacing {
    letter-spacing: #{$spacing + 'em'};
  }

  @if $margin {
    margin-block: $margin;
  }
}

@mixin grid($number, $value, $gap: null, $align: null, $justify: null) {
  display: grid;
  grid-template-columns: repeat($number, $value);
  gap: $gap;
  align-content: $align;
  justify-content: $justify;
}

@mixin col($start: null, $end: null, $order: null) {
  &--#{$start}-#{$end} {
    grid-column: #{$start} / #{$end};
    order: $order;
  }
}
