$xs: 320px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: #50c8f0;
$secondary: #28285a;
$white: #fff;
$duration: 0.24s;
$transition: $duration linear;
$animation: calc($duration * 2) forwards;
