$xs: 320px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$text-primary: #111;
$text-secondary: #666;
$primary: #50c8f0;
$secondary: #28285a;
$white: #fff;
$light: #f3f4f6;
$semi-dark: #1f2937;
$dark: #111827;
$duration: 0.24s;
$transition: $duration linear;
$animation: calc($duration * 2) forwards;
