@keyframes CollapseMiddle {
  0% {
    transform: scaleX(0);
  }
  75% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(0.5);
  }
}

@keyframes CollapseShowMiddle {
  0% {
    transform: scaleX(0.5);
  }
  25% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes CollapseTop {
  0% {
    transform: translateY(10.5px) scaleX(1) rotate(-45deg);
  }
  25% {
    transform: translateY(10.5px) rotate(0);
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) scaleX(1) rotate(0);
  }
}

@keyframes CollapseShowTop {
  0% {
    transform: translateY(0) scaleX(1) rotate(0);
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translateY(10.5px) rotate(0);
  }
  100% {
    transform: translateY(10.5px) scaleX(1) rotate(-45deg);
  }
}

@keyframes CollapseBottom {
  0% {
    transform: translateY(-10.5px) scaleX(1) rotate(45deg);
  }
  25% {
    transform: translateY(-10.5px) rotate(0);
  }
  50% {
    transform: translateY(0) scaleX(1) rotate(0);
  }
  75% {
    transform: translateY(0) scaleX(0.75) rotate(0);
  }
  100% {
    transform: translateY(0) scaleX(0.75) rotate(0);
  }
}

@keyframes CollapseShowBottom {
  0% {
    transform: translateY(0) scaleX(0.75) rotate(0);
  }
  25% {
    transform: translateY(0) scaleX(0.75) rotate(0);
  }
  50% {
    transform: translateY(0) scaleX(1) rotate(0);
  }
  75% {
    transform: translateY(-10.5px) rotate(0);
  }
  100% {
    transform: translateY(-10.5px) scaleX(1) rotate(45deg);
  }
}

@keyframes MoveArrow {
  0% {
    transform: scaleX(0.05);
    transform-origin: left;
  }
  25% {
    transform: scaleX(1);
    transform-origin: left;
  }
  26% {
    transform: scaleX(1);
    transform-origin: right;
  }
  60% {
    transform: scaleX(0.05);
    transform-origin: right;
  }
  80% {
    transform: scaleX(0);
    transform-origin: right;
  }
  81% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(0.05);
    transform-origin: left;
  }
}

@keyframes ShowIcon {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes HideIcon {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}
