@keyframes CollapseMiddle {
  0% {
    width: 0;
  }
  75% {
    width: 0;
  }
  100% {
    width: 12px;
  }
}

@keyframes CollapseShowMiddle {
  0% {
    width: 12px;
  }
  25% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes CollapseTop {
  0% {
    transform: translateY(10.5px) rotate(-45deg);
    width: 24px;
  }
  25% {
    transform: translateY(10.5px) rotate(0);
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
    width: 24px;
  }
}

@keyframes CollapseShowTop {
  0% {
    transform: translateY(0) rotate(0);
    width: 24px;
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translateY(10.5px) rotate(0);
  }
  100% {
    transform: translateY(10.5px) rotate(-45deg);
    width: 24px;
  }
}

@keyframes CollapseBottom {
  0% {
    transform: translateY(-10.5px) rotate(45deg);
    width: 24px;
  }
  25% {
    transform: translateY(-10.5px) rotate(0);
  }
  50% {
    transform: translateY(0) rotate(0);
    width: 24px;
  }
  75% {
    transform: translateY(0) rotate(0);
    width: 18px;
  }
  100% {
    transform: translateY(0) rotate(0);
    width: 18px;
  }
}

@keyframes CollapseShowBottom {
  0% {
    transform: translateY(0) rotate(0);
    width: 18px;
  }
  25% {
    transform: translateY(0) rotate(0);
    width: 18px;
  }
  50% {
    transform: translateY(0) rotate(0);
    width: 24px;
  }
  75% {
    transform: translateY(-10.5px) rotate(0);
  }
  100% {
    transform: translateY(-10.5px) rotate(45deg);
    width: 24px;
  }
}
