/* Variables */
:root {
  --bg: #{$white};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --light: #{$light};
  --font-family: 'Outfit', 'Outfit fallback';
  --transform-origin: left;
}

[lang='ar-DZ'] {
  --font-family: 'Noto Kufi Arabic', 'Noto Kufi Arabic fallback';
  --transform-origin: right;
}

.dark-mode {
  --bg: #{$dark};
  --text-primary: #{$white};
  --text-secondary: #{$white};
  --primary: #{$secondary};
  --secondary: #{$primary};
  --light: #{$semi-dark};
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.open-menu,
  &.open-menu body {
    height: 100%;
    overflow: hidden;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text-primary);
  transition: background-color $transition, color $transition;
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;
}

/* Page transition */
.page-enter-active,
.page-leave-active {
  transition: opacity $transition;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* Main */
main,
footer {
  --translateY: 48px;
  transform: translateY(var(--translateY));
  transition: transform $transition;

  @media (min-width: $xs) {
    --translateY: 52px;
  }

  @media (min-width: $sm) {
    --translateY: 72px;
  }

  @media (min-width: $md) {
    html:not(.scrolled) & {
      --translateY: 96px;
    }
  }
}

/* Container */
.container {
  padding: 24px 12px;

  @include media($xs, 32px, 16px);
  @include media($sm, 48px, 24px);
  @include media($md, 96px, 48px);
  @include media($lg, 144px, calc(50% - 928px / 2));
  @include media($xl, 144px, calc(50% - 1200px / 2));

  &.hero {
    display: grid;
    grid-auto-rows: 1fr auto;
    padding-block: 0;
    transition: min-height $transition;
    min-height: calc(100vh - var(--translateY));
  }

  &.error {
    display: grid;
    justify-items: center;
    align-content: center;
    min-height: calc(100vh);
    transform: translateY(0);
  }

  &.post-nav {
    padding-top: 72px;
    padding-bottom: 48px;
  }
}

/* Intro */
.intro {
  @include grid(12, 1fr);

  &.intro {
    align-self: center;
  }

  * {
    grid-column: 1 / 13;

    @media (min-width: $lg) {
      grid-column: 1 / 10;
    }

    @media (min-width: $xl) {
      grid-column: 1 / 8;
    }
  }
}

/* Details */
.details {
  @include grid(12, 1fr);

  row-gap: 12px;

  @media (min-width: $xs) {
    row-gap: 16px;
  }

  @media (min-width: $sm) {
    row-gap: 24px;
  }
}

/* Item */
.item {
  grid-column: 1 / 13;

  @media (min-width: $md) {
    &:nth-child(odd) {
      grid-column: 1 / 6;
    }

    &:nth-child(even) {
      grid-column: 7 / 12;
    }
  }
}

/* Card */
.card-group {
  gap: 12px;

  @include grid(1, 1fr);

  @media (min-width: $sm) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $md) {
    gap: 16px;
  }

  @media (min-width: $lg) {
    gap: 24px;
  }

  .card {
    overflow: hidden;
    z-index: 1;
    border-radius: 12px;

    @media (min-width: $xl) {
      border-radius: 24px;
    }
  }

  article {
    display: grid;
    position: relative;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(17 17 17 / 0%) 0%,
      rgba(17 17 17 / 0%) 60%,
      rgba(17 17 17 / 60%) 100%
    );
    opacity: 1;
    transition: opacity $transition;
  }

  .card:hover .overlay {
    background-color: $text-primary;
    opacity: 0.6;
  }

  .inner {
    display: grid;
    grid-auto-rows: auto 1fr;
    position: absolute;
    height: 100%;
    color: $white;
    padding: 24px;

    @include media($md, 24px, 24px);
    @include media($lg, 36px, 36px);
    @include media($xl, 48px, 48px);
  }

  h2,
  h3 {
    @include size(32);

    &.work {
      @media (min-width: $xl) {
        @include size(56);
      }
    }
  }

  p {
    color: $white;
    align-self: end;
    transform: translateY(calc(100% + 48px));
    transition: transform $transition;
    visibility: hidden;

    @media (min-width: $lg) {
      visibility: visible;
    }
  }

  .card:hover p {
    transform: translateY(0);
  }
}

/* Headings */
h1,
.h1 {
  @include font(44, 700);

  letter-spacing: -0.04em;
  margin-block: 0 24px;

  @media (min-width: $md) {
    @include size(56);

    margin-block-end: 36px;
  }

  @media (min-width: $lg) {
    @include size(80);

    margin-block-end: 48px;
  }
}

h2,
.h2 {
  @include font(32);

  letter-spacing: -0.04em;
  margin-block: 0 24px;

  @media (min-width: $md) {
    @include size(42);
  }

  @media (min-width: $lg) {
    @include size(56);
  }
}

h3,
.h3 {
  @include font(20);

  letter-spacing: -0.02em;
  margin-block: 0 12px;
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin-block: 0;
}

p {
  margin-block: 0 12px;

  &:last-child {
    margin-block-end: 0;
  }
}

.lead {
  @include font(20);

  letter-spacing: -0.02em;
  color: var(--text-secondary);
  transition: color $transition;

  footer & {
    font-weight: 300;
    color: var(--text-primary);
    margin: 0;
    max-width: 400px;
  }
}

a {
  color: var(--text-primary);
  text-decoration: none;
  transition: color $transition;

  .hero & {
    --mb: 12px;
    display: grid;
    justify-self: center;
    margin-bottom: var(--mb);

    @media (min-width: $xs) {
      --mb: 16px;
    }

    @media (min-width: $sm) {
      --mb: 24px;
    }

    @media (min-width: $md) {
      --mb: 36px;
    }
  }
}

.link {
  display: inline-block;

  @include font(20);

  @media (min-width: $md) {
    @include size(28);

    line-height: 1.286;
  }

  &.outfit {
    font-family: 'Outfit', 'Outfit fallback';
  }

  &:hover {
    color: $primary;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  background-color: transparent;
  color: $primary;
  border: 1px solid $primary;
  font-weight: 500;
  line-height: 46px;
  padding: 0 20px;
  border-radius: 2em;
  transition: background-color $transition, color $transition;

  .more & {
    @media (min-width: $sm) {
      justify-self: end;
    }
  }

  .error & {
    margin-top: 96px;
  }

  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}

strong {
  font-weight: 600;
}

.move-arrow {
  position: relative;
  display: inline-block;

  &:hover {
    color: $white;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 3px;
    background-color: var(--primary);
    transform: scaleX(0.05);
    transform-origin: var(--transform-origin);
    transition: background-color $transition, transform $transition;
  }

  &:hover::before {
    animation: move-arrow $animation;

    [lang='ar-DZ'] & {
      animation: move-arrow-ar $animation;
    }
  }
}

.tags {
  margin: 0;
  padding: 0;
  list-style: none;

  * {
    display: inline-block;
    margin-inline-end: 12px;

    &:last-child {
      margin-inline-end: 0;
    }

    &::before {
      content: '#';
      color: $primary;
      margin-inline-end: 3px;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  word-wrap: normal;
}

::selection {
  color: $secondary;
  background-color: $primary;
}
