/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg: #{$white};
  --color: #{$color};
  --color-secondary: #{$colorSecondary};
  --primary: #{$primary};
  --secondary: #{$secondary};
}

.dark-mode {
  --bg: #091a28;
  --color: #{$white};
  --color-secondary: #{$white};
  --primary: #{$secondary};
  --secondary: #{$primary};
}

html {
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  @media (min-width: $lg) {
    overflow: visible !important;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color $transition, color $transition;
  font-family: $font;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* Nuxt Progress */
.nuxt-progress {
  transition: none !important;
  background-color: #50c8f0 !important;
}

/* Main */
main {
  margin-top: 72px;
  transition: margin-top $transition;
  @media (min-width: $lg) {
    margin-top: 120px;
    .scrolled & {
      margin-top: 72px;
    }
  }
  &.page-enter-active,
  &.page-leave-active {
    transition: opacity $transition;
  }
  &.page-enter,
  &.page-leave-active {
    opacity: 0;
  }
}

/* Container */
.container {
  padding: 24px 12px;
  @media (min-width: $xs) {
    padding: 32px 16px;
  }
  @media (min-width: $sm) {
    padding: 48px 24px;
  }
  @media (min-width: $md) {
    padding: 96px 48px;
  }
  @media (min-width: $lg) {
    padding: 144px calc(50% - 928px / 2);
  }
  @media (min-width: $xl) {
    padding: 144px calc(50% - 1200px / 2);
  }
}

/* Hero */
.hero {
  display: grid;
  grid-auto-rows: 1fr auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  min-height: calc(100vh - 96px);
  @media (min-width: $lg) {
    min-height: calc(100vh - 156px);
  }
  transition: min-height $transition;
  .arrow {
    justify-self: center;
    cursor: pointer;
  }
  &.error {
    grid-auto-rows: auto auto;
    justify-items: center;
    align-content: center;
    min-height: calc(100vh);
  }
}

/* Intro */
.intro {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  .hero & {
    align-self: center;
  }
  * {
    grid-column: 1 / 13;
    @media (min-width: $lg) {
      grid-column: 1 / 10;
    }
    @media (min-width: $xl) {
      grid-column: 1 / 8;
    }
  }
}

/* Details */
.details {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 12px;
  @media (min-width: $xs) {
    row-gap: 16px;
  }
  @media (min-width: $sm) {
    row-gap: 24px;
  }
}

/* Item */
.item {
  grid-column: 1 / 13;
  @media (min-width: $md) {
    &:nth-child(odd) {
      grid-column: 1 / 6;
    }
    &:nth-child(even) {
      grid-column: 7 / 12;
    }
  }
}

/* Headings */
h1,
.h1 {
  font-family: $fontMedium;
  @include size(44);
  font-weight: 400;
  letter-spacing: -0.05em;
  margin-top: 0;
  margin-bottom: 24px;
  @media (min-width: $md) {
    @include size(56);
    margin-bottom: 36px;
  }
  @media (min-width: $lg) {
    @include size(80);
    margin-bottom: 48px;
    letter-spacing: -0.05em;
  }
}

h2,
.h2 {
  font-family: $fontMedium;
  @include size(32);
  font-weight: 400;
  letter-spacing: -0.05em;
  margin-top: 0;
  margin-bottom: 24px;
  @media (min-width: $md) {
    @include size(42);
  }
  @media (min-width: $lg) {
    @include size(56);
  }
}

h3,
.h3 {
  font-family: $fontMedium;
  @include size(20);
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 12px;
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}

.lead {
  font-family: $fontMedium;
  @include size(20);
  letter-spacing: -0.02em;
  color: var(--color-secondary);
  transition: color $transition;
  footer & {
    font-family: $font;
  }
}

a {
  color: var(--color);
  text-decoration: none;
  transition: color $transition;
}

strong {
  font-family: $fontMedium;
  font-weight: 400;
}

.link {
  font-family: $fontMedium;
  display: inline-block;
  @include size(20);
  @media (min-width: $md) {
    @include size(28);
    line-height: 1.286;
  }
  &:hover {
    color: $secondary;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
}

.btn {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: $fontMedium;
  line-height: 48px;
  width: fit-content;
  height: 48px;
  padding: 0 24px;
  border-radius: 2em;
  transition: background-color $transition, color $transition;
  &:hover {
    background-color: var(--secondary);
    color: var(--primary);
  }
}

.move-arrow {
  position: relative;
  display: inline-block;
  &:hover {
    color: $white;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 3px;
    background-color: var(--secondary);
    transform: scaleX(0.05);
    transform-origin: left;
    [lang='ar-DZ'] & {
      transform-origin: right;
    }
    transition: background-color $transition, transform $transition;
  }
  &:hover::before {
    animation: move-arrow $animation;
    [lang='ar-DZ'] & {
      animation: move-arrow-ar $animation;
    }
  }
}

.card {
  display: grid;
  background-color: $light;
  transition: background-color $transition;
  .dark-mode & {
    background-color: $colorSecondary;
  }
}

img {
  width: 100%;
  height: auto;
}

[lazy='loading'] {
  background-color: $light;
  opacity: 0;
  transition: opacity $transition;
  .dark-mode & {
    background-color: $colorSecondary;
  }
}

[lazy='loaded'] {
  opacity: 1;
}

.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  * {
    display: inline-block;
    margin-inline-end: 12px;
    &:last-child {
      margin-inline-end: 0;
    }
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

::selection {
  color: $primary;
  background-color: $secondary;
}
