/* Global */
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --bg: #{$white};
  --color: #{$color};
  --color-secondary: #{$color-secondary};
  --primary: #{$primary};
  --secondary: #{$secondary};
}

.dark-mode {
  --bg: #091a28;
  --color: #{$white};
  --color-secondary: #{$white};
  --primary: #{$secondary};
  --secondary: #{$primary};
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  @media (min-width: $md) {
    overflow: visible !important;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color $transition, color $transition;
  font-family: $font;
  [lang='ar'] & {
    font-family: $font-arabic;
  }
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* Main */
main {
  margin-top: 72px;
  transition: margin-top $transition;
  @media (min-width: $md) {
    margin-top: 120px;
    .scrolled & {
      margin-top: 72px;
    }
  }
  &.page-enter-active,
  &.page-leave-active {
    transition: opacity $transition;
  }
  &.page-enter,
  &.page-leave-active {
    opacity: 0;
  }
}

/* Container */
.container {
  padding: 48px 24px;
  @media (min-width: $sm) {
    padding: 96px 48px;
  }
  @media (min-width: $md) {
    padding: 144px calc(50% - 928px / 2);
  }
  @media (min-width: $lg) {
    padding: 144px calc(50% - 1200px / 2);
  }
}

/* Hero */
.hero {
  display: grid;
  grid-auto-rows: 1fr auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  min-height: calc(100vh - 96px);
  @media (min-width: $md) {
    min-height: calc(100vh - 156px);
  }
  transition: min-height $transition;
  .intro {
    align-self: center;
  }
  .arrow {
    justify-self: center;
    cursor: pointer;
  }
}

/* Intro */
.intro {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  * {
    grid-column: 1 / 13;
    @media (min-width: $sm) {
      .prestations:nth-child(even) & {
        grid-column: 7 / 12;
      }
    }
    @media (min-width: $md) {
      grid-column: 1 / 10;
    }
    @media (min-width: $lg) {
      grid-column: 1 / 8;
    }
  }
}

/* Details */
.details {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 24px;
  .works & {
    row-gap: 48px;
    @media (min-width: $sm) {
      column-gap: 48px;
    }
  }
  .prestations & {
    align-items: center;
  }
}

/* Item */
.item {
  grid-column: 1 / 13;
  &:nth-child(odd) {
    @media (min-width: $sm) {
      grid-column: 1 / 6;
      .works & {
        grid-column: 1 / 7;
      }
      .prestations:nth-child(even) & {
        grid-column: 7 / 12;
      }
    }
  }
  &:nth-child(even) {
    .prestations & {
      color: var(--color-secondary);
      transition: color $transition;
      font-weight: 500;
    }
    @media (min-width: $sm) {
      grid-column: 7 / 12;
      .works & {
        grid-column: 7 / 13;
      }
      .prestations & {
        grid-column: 7 / 10;
      }
      .prestations:nth-child(even) & {
        grid-column: 3 / 6;
        order: -1;
      }
    }
  }
  .works & {
    display: grid;
    @media (min-width: $md) {
      &:nth-child(3n + 1) {
        grid-column: 1 / 5;
      }
      &:nth-child(3n + 2) {
        grid-column: 5 / 9;
      }
      &:nth-child(3n + 3) {
        grid-column: 9 / 13;
      }
    }
    h2,
    h3 {
      margin-top: 12px;
      margin-bottom: 0;
      order: 1;
    }
    > a {
      position: relative;
      display: grid;
      p {
        display: grid;
        align-items: end;
        background-color: var(--secondary);
        color: var(--primary);
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 12px;
        opacity: 0;
        transition: background-color $transition, color $transition, opacity $transition;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

/* Headings */
h1,
.h1 {
  @include size(44);
  font-weight: 800;
  letter-spacing: -0.05em;
  margin-top: 0;
  margin-bottom: 24px;
  @media (min-width: $sm) {
    @include size(56);
    margin-bottom: 36px;
  }
  @media (min-width: $md) {
    @include size(80);
    margin-bottom: 48px;
    letter-spacing: -0.05em;
  }
}

h2,
.h2 {
  @include size(32);
  font-weight: 500;
  letter-spacing: -0.05em;
  margin-top: 0;
  margin-bottom: 24px;
  @media (min-width: $sm) {
    @include size(42);
  }
  @media (min-width: $md) {
    @include size(56);
  }
}

h3,
.h3 {
  font-size: 1.75rem;
  @include size(20);
  font-weight: 500;
  letter-spacing: -0.02em;
  margin-top: 0;
  margin-bottom: 12px;
}

h6,
.h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}

.lead {
  @include size(20);
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--color-secondary);
  transition: color $transition;
  footer & {
    font-weight: 400;
  }
  &.item {
    margin: 0;
  }
}

a {
  color: var(--color);
  text-decoration: none;
  transition: color $transition;
}

.link {
  display: inline-block;
  font-family: $font;
  @include size(20);
  font-weight: 500;
  @media (min-width: $sm) {
    @include size(28);
    line-height: 1.286;
  }
  &:hover {
    color: $secondary;
  }
  [lang='ar'] .work & {
    font-family: $font-arabic;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
}

.btn {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: 500;
  line-height: 48px;
  width: fit-content;
  height: 48px;
  padding: 0 24px;
  border-radius: 2em;
  transition: background-color $transition, color $transition;
  &:hover {
    background-color: var(--secondary);
    color: var(--primary);
  }
}

.moveArrow {
  position: relative;
  display: inline-block;
  &:hover {
    color: $white;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 3px;
    background-color: var(--secondary);
    transform: scaleX(0.05);
    transform-origin: left;
    transition: background-color $transition, transform $transition;
  }
  &:hover::before {
    animation: MoveArrow $animation;
  }
}

.card {
  display: grid;
  background-color: $light;
  transition: background-color $transition;
  .dark-mode & {
    background-color: $color-secondary;
  }
}

img {
  width: 100%;
  height: auto;
  &[lazy='error'] {
    background-color: red;
  }
  &[lazy='loading'] {
    background-color: $light;
    opacity: 0;
    transition: background-color $transition, opacity $transition;
    .dark-mode & {
      background-color: $color-secondary;
    }
  }
  &[lazy='loaded'] {
    opacity: 1;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

::selection {
  color: $primary;
  background-color: $secondary;
}
