$sm: 768px;
$md: 1024px;
$lg: 1440px;
$xl: 1920px;

$blue: #50c8f0;
$dark-blue: #28285a;
$dark: #111111;
$light: #fafafa;
$dark-light: #f2f2f2;
$white: #fff;

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
  Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
$font: 'Objectivity', sans-serif;
$font: 'Gotham', sans-serif;
$font: 'Sofia Pro', sans-serif;
$font-arabe: 'Almarai', sans-serif;

$transition: 0.3s ease-in-out;
