$sm: 768px;
$md: 1024px;
$lg: 1265px;

$blue: #50c8f0;
$dark-blue: #28285a;
$black: #111111;
$black-light: #666666;
$light: #fafafa;
$dark-light: #f2f2f2;
$white: #fff;

$font: 'Sofia Pro', sans-serif;
$font-arabe: 'Almarai', sans-serif;

$transition: 0.3s ease-in-out;
$animation: 0.5s forwards;

@mixin size($number) {
  font-size: #{$number + 'px'};
  line-height: #{($number + 4) / $number};
}
