@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/SofiaProLight.woff2') format('woff2');
  ascent-override: 90.5%;
  descent-override: 21%;
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/SofiaProMedium.woff2') format('woff2');
  ascent-override: 90.5%;
  descent-override: 21.2%;
}

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/AlmaraiRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/AlmaraiBold.woff2') format('woff2');
}
