@font-face {
  font-family: 'Sofia Pro Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SofiaProLight.woff2') format('woff2');
  ascent-override: 90.5%;
  descent-override: 21%;
}

@font-face {
  font-family: 'Almarai Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/AlmaraiLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro Medium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SofiaProMedium.woff2') format('woff2');
  ascent-override: 90.5%;
  descent-override: 21.2%;
}

@font-face {
  font-family: 'Almarai Bold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/AlmaraiBold.woff2') format('woff2');
}
