@keyframes collapse-middle {
  0% {
    transform: scaleX(0);
  }

  75% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(0.5);
  }
}

@keyframes collapse-show-middle {
  0% {
    transform: scaleX(0.5);
  }

  25% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes collapse-top {
  0% {
    transform: translateY(7px) scaleX(1) rotate(-45deg);
  }

  25% {
    transform: translateY(7px) rotate(0);
  }

  50% {
    transform: translateY(0) rotate(0);
  }

  100% {
    transform: translateY(0) scaleX(1) rotate(0);
  }
}

@keyframes collapse-show-top {
  0% {
    transform: translateY(0) scaleX(1) rotate(0);
  }

  50% {
    transform: translateY(0) rotate(0);
  }

  75% {
    transform: translateY(7px) rotate(0);
  }

  100% {
    transform: translateY(7px) scaleX(1) rotate(-45deg);
  }
}

@keyframes collapse-bottom {
  0% {
    transform: translateY(-7px) scaleX(1) rotate(45deg);
  }

  25% {
    transform: translateY(-7px) rotate(0);
  }

  50% {
    transform: translateY(0) scaleX(1) rotate(0);
  }

  75% {
    transform: translateY(0) scaleX(0.75) rotate(0);
  }

  100% {
    transform: translateY(0) scaleX(0.75) rotate(0);
  }
}

@keyframes collapse-show-bottom {
  0% {
    transform: translateY(0) scaleX(0.75) rotate(0);
  }

  25% {
    transform: translateY(0) scaleX(0.75) rotate(0);
  }

  50% {
    transform: translateY(0) scaleX(1) rotate(0);
  }

  75% {
    transform: translateY(-7px) rotate(0);
  }

  100% {
    transform: translateY(-7px) scaleX(1) rotate(45deg);
  }
}

@keyframes move-arrow {
  0% {
    transform: scaleX(0.05);
    transform-origin: left;
  }

  25% {
    transform: scaleX(1);
    transform-origin: left;
  }

  26% {
    transform: scaleX(1);
    transform-origin: right;
  }

  60% {
    transform: scaleX(0.05);
    transform-origin: right;
  }

  80% {
    transform: scaleX(0);
    transform-origin: right;
  }

  81% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(0.05);
    transform-origin: left;
  }
}

@keyframes move-arrow-ar {
  0% {
    transform: scaleX(0.05);
    transform-origin: right;
  }

  25% {
    transform: scaleX(1);
    transform-origin: right;
  }

  26% {
    transform: scaleX(1);
    transform-origin: left;
  }

  60% {
    transform: scaleX(0.05);
    transform-origin: left;
  }

  80% {
    transform: scaleX(0);
    transform-origin: left;
  }

  81% {
    transform: scaleX(0);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0.05);
    transform-origin: right;
  }
}

@keyframes lang {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  30% {
    opacity: 1;
    transform: translateX(0);
  }

  70% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}
