@use '../abstracts/variables' as *;

.slug-nav {
  display: grid;
  align-items: start;
  gap: 48px;
  padding-block: 72px 48px;
  background-color: var(--background-secondary);
  transition: background-color var(--transition);

  @media (min-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }

  .link {
    position: relative;
    line-height: 1;
    width: fit-content;

    &:is(.prev) {
      padding-inline-start: 18px;
    }

    &:is(.next) {
      padding-inline-end: 18px;
      text-align: end;
      justify-self: end;
      grid-column: 2;
    }

    &::before {
      content: attr(data-text);
      position: absolute;
      color: var(--color-secondary);
      transition: color var(--transition);
      inset-block-start: -18px;
      padding-bottom: 4px;
      font-size: 0.8rem;
      line-height: 0.9375;
      width: max-content;
    }

    &.next::before {
      inset-inline-end: 18px;
    }

    &:hover::before {
      color: var(--color-primary);
    }
  }
}
