@use '../abstracts/variables' as *;

:root {
  color-scheme: light;

  --blue: #50c8f0;
  --night: #28285a;
  --background: #fff;
  --background-secondary: #f9fafb;
  --color: #111827;
  --color-secondary: rgba(17 24 39 / 73%);
  --font-family: 'Outfit', 'Outfit fallback';
  --line-height: 1.1;
  --padding-x: 16px;
  --padding-y: 16px;
  --h-header: 72px;
  --duration: 0.24s;
  --transition: var(--duration) linear;
  --animation: calc(var(--duration) * 2) forwards;
  --origin: 0%;
  --shadow: 0 0 0 / 10%;

  &.dark {
    color-scheme: dark;

    --background: #111827;
    --background-secondary: #1f2937;
    --color: #fff;
    --color-secondary: rgba(255 255 255 / 67%);
    --shadow: 255 255 255 / 10%;
  }

  &[dir='rtl'] {
    --font-family: 'Alexandria', 'Alexandria fallback';
    --line-height: 1.4;
    --origin: 100%;
  }

  @media (min-width: $md) {
    --padding-x: 24px;
    --padding-y: 24px;

    &:not(.scrolled) {
      --h-header: 88px;
    }
  }

  @media (min-width: $lg) {
    --padding-x: calc(50% - 952px / 2);
    --padding-y: 32px;
  }

  @media (min-width: $xl) {
    --padding-x: calc(50% - 1200px / 2);
  }
}
