.presta {
  :is(h1, .features h2, .tags-group h2) {
    margin-block-end: 0;
  }

  .banner {
    max-width: 1400px;
    margin: 0 auto;

    img {
      aspect-ratio: 16 / 9;
    }
  }

  .features p {
    margin-block-end: 32px;
  }

  .tags-group .tags {
    align-content: end;
  }

  .faq .question {
    padding-block: 24px 12px;
    border-bottom: 1px solid var(--background-secondary);
    transition: border-color var(--transition);

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: start;
      column-gap: 24px;
      width: 100%;
      font-weight: inherit;

      .icon {
        position: relative;
        width: 20px;
        height: 20px;

        span {
          position: absolute;
          left: 50%;
          top: 50%;
          background-color: currentcolor;
          width: 16px;
          height: 2px;
          border-radius: 2em;
          transform: translate(-50%, -50%);
          transition: transform var(--transition);

          &.expanded {
            transform: translate(-50%, -50%) rotate(-90deg);
          }
        }
      }
    }

    .row {
      color: var(--color-secondary);
      transition: height var(--transition);

      p {
        margin-bottom: 12px;
      }
    }
  }
}
